[Desktop Entry]
Version=1.0
Type=Application
Name=Arduino
Comment=Launch Arduino IDE
Exec=/home/pedro/arduino/arduino
Icon=arduino
Path=/home/pedro/arduino
Terminal=false
StartupNotify=false
