[Desktop Entry]
Version=1.0
Type=Application
Name=QtDesigner
Comment=
Exec=/usr/lib/x86_64-linux-gnu/qt5/bin/designer
Icon=qtdesigner
Path=/home/pedro/Desktop/src/minho_team_tools
Terminal=false
StartupNotify=false
