[Desktop Entry]
Version=1.0
Type=Application
Name=Scilab
Comment=
Exec=/home/pedro/scilab-5.5.2/bin/scilab
Icon=scilab
Path=/home/pedro/Documents
Terminal=false
StartupNotify=false
